<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      More
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">More</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" fill="outline">Edit Trigger Options</ion-button>
  <ion-button expand="block" fill="outline">Edit Symptom Options</ion-button>
  <ion-button expand="block" fill="outline">Help</ion-button>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Facts About Menopause </ion-card-title>
    <!-- <ion-card-title>Card Title</ion-card-title> -->
  </ion-card-header>

  <ion-card-content>
    <ion-item>Main Definitions</ion-item>
    <br>
        <p><b><u>Perimenopause</u></b> is the transition to menopause.  Women usually enter this stage in their forties, but women can experience perimenopause as early as their thirties. Perimenopause is characterized by irregular
         periods and, in some instances, the first symptoms of postmenopause. During perimenopause, estrogen levels in women start to decrease.</p>
         <br>
         <p><b><u>Menopause</u></b> is the point in a woman’s life at which she no longer menstruates. On average, women reach menopause at age  51.  Menopause can also occur when a woman’s ovaries are surgically removed.</p>
         <br>
         <p><b><u>Postmenopause</u></b> is the period in a woman’s life starting 12 months after her last menstrual cycle.  Some women experience severe symptoms, listed in detail below<strong>, </strong>during this phase, including symptoms in addition to those
          listed below.  Other women do not have difficult experiences. Postmenapausal symptoms usually last four to five years, but can continue for up to 11 years.</p>
          <br>
         <p><b><u>Estrogen</u></b> is a  natural steroid responsible for developing and regulating secondary female sex characteristics and promoting
          the growth and maintenance of the female reproductive system. Estrogen levels decrease when a woman goes through menopause.  Some women take synthetic estrogen to mitigate severe symptoms of perimenopause and postmenopause.</p>

   <ion-item>Symptoms</ion-item>
   <br>
        <p><u><b>Hot Flashes</b></u> are sudden feelings of warmth that may be accompanied by reddening of the face.  Up to 87% of women will experience hot flashes during perimenopause and postmenopause.  33% of women have ten or more hot flashes per day.  Hot flashes are often associated with particular triggers, which this app can help to track.</p>
        <br>
        <p><b><u>Insomnia</u></b> is a catch-all term for sleep difficulties. 61% of women experience some form of insomnia during postmenopause, which is when symptoms are most prevalent and severe.  Insufficient sleep can cause stress.  For women going through perimenopause and postmenopause, insomnia can be caused or aggravated by hot flashes or night sweats.</p>
        <br>
        <p><u><b>Dizziness</b></u> Estrogen helps the brain orient itself.  The decrease in estrogen can lead to vertigo or even migraines. </p>
        <br>
        <p><u><b>Joint and muscle pain </b></u>77% of postmenopausal women experience joint pain. </p>
        <br>
        <p><u><b>Anxiety</b></u> 51% of women 40 to 55 report anxiety or irritability.  These symptoms can be exacerbated by lack of sleep or other symptoms related to menopause.</p>
        <br>
        <p><u><b>Depression</b></u> 55% of women 40 to 64 report some sort of depressive disorder.  38% of women experience depression during perimenopause.</p>
    <ion-item>Triggers</ion-item>
    <br>
    <p>Hot flashes can be triggered by a number of different stimuli.  The default triggers are commonly experienced by many women. The list of triggers can be edited at the top of this page.</p>
    <ul>
      <li>Stress	</li>
      <li>Mood </li>
      <li>Caffeine</li>
      <li>Smoking/vaping </li>
      <li>Warm environment </li>
      <li>Alcohol</li>
      <li>Sugar</li>
      <li>Spicy food </li>
      <li>Tight clothing </li>
      <li>Dehydration </li>
      <li>Bending over</li>
    </ul>
  <ion-item>References</ion-item>
  <br>
  <p>Avis NE, Crawford SL, Greendale G, et al. Duration of Menopausal Vasomotor Symptoms Over the Menopause Transition. JAMA Intern Med. 2015;175(4):531–539.</p>
  <br>
  <p>Dutta C, Joffe H, US Department of Health and Human Services, Office on Women’s Health. Menopause, May 23, 2019.</p>
  <br>
  <p>Kravitz HM, Joffe H. Sleep during the perimenopause: a SWAN story. Obstet Gynecol Clin North Am. 2011;38(3):567–586. doi:10.1016/j.ogc.2011.06.002</p>
  <br>
  <p>Makara-Studzińśka MT, Kryś-Noszczyk KM, Jakiel G. Epidemiology of the symptoms of menopause - an intercontinental review. Prz Menopauzalny. 2014;13(3):203–211. </p>
  <br>
  <p>Sutton-Tyrrell, Kim, Selzer, Faith, Sowers, MaryFran, Finkelstein, Joel, Powell, Lynda, Gold, Ellen, … Brooks, Maria Mori. Study of Women’s Health Across the Nation (SWAN), 2006-2008: Visit 10 Dataset. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2018-11-15.</p>
  </ion-card-content>

</ion-card>






  <!-- <app-explore-container name="Tab 4 page"></app-explore-container> -->
</ion-content>
