<ion-header translucent>
  <ion-toolbar>
    <ion-title>Symptom Report</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Time</ion-label>
  <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z" [(ngModel)]= "symptomtime" [selectedText]="symptomtime" (ionChange)="onChange()"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Symptom</ion-label>
  <ion-select interface="popover" [(ngModel)]= "symptomval" [selectedText]="symptomval" (ionChange)="onChange()">
    <ion-select-option value="hotflash">Hot Flash</ion-select-option>
    <ion-select-option value="insomnia">Insomnia</ion-select-option>
    <ion-select-option value="dizziness">Dizziness</ion-select-option>
    <ion-select-option value="jointpain">Joint Pain</ion-select-option>
    <ion-select-option value="anxiety">Anxiety</ion-select-option>
    <ion-select-option value="depression">Depression</ion-select-option>
  </ion-select>
</ion-item>
