
<!-- add a close button to the modal  -->

 <!-- <script>
   customElements.define('modal-content', class ModalContent extends HTMLElement {
     connectedCallback() {
       this.innerHTML = ` -->
         <ion-header translucent class="no-padding">
           <ion-toolbar>
             <ion-title>Sleep Report</ion-title>
             <ion-buttons slot="end">
               <ion-button onclick="dismissModal()">Submit</ion-button>
             </ion-buttons>
           </ion-toolbar>
         </ion-header>
  <!-- </script> -->

  <ion-item vertical="center">
     <ion-label>Hours of Sleep</ion-label>
     <ion-select value="10">
       <ion-select-option value="9.5">9.5</ion-select-option>
       <ion-select-option value="9">9</ion-select-option>
       <ion-select-option value="8.5">8.5</ion-select-option>
       <ion-select-option value="8">8</ion-select-option>
       <ion-select-option value="7.5">7.5</ion-select-option>
       <ion-select-option value="7">7</ion-select-option>
       <ion-select-option value="6.5">6.5</ion-select-option>
       <ion-select-option value="6">6</ion-select-option>
       <ion-select-option value="5.5">5</ion-select-option>
       <ion-select-option value="5">5</ion-select-option>
       <ion-select-option value="4.5">4.5</ion-select-option>
       <ion-select-option value="4">4</ion-select-option>
       <ion-select-option value="3.5">3.5</ion-select-option>
       <ion-select-option value="3">3</ion-select-option>
       <ion-select-option value="2.5">2.5</ion-select-option>
       <ion-select-option value="2">2</ion-select-option>
       <ion-select-option value="1.5">1.5</ion-select-option>
       <ion-select-option value="1">1</ion-select-option>
     </ion-select>
  </ion-item>
